<!-- Page principale du site web -->
{% extends "template.html" %}       <!-- hérédité de la template de base -->

{% load static %}                   <!-- Chargement des fichiers statiques -->

{% block css %}                     <!-- Ajout du css de la page -->
    <link rel="stylesheet" type='text/css' href="{% static 'ChatApp/css/discussion.css' %}">
{% endblock %}

{% block title %} {{ current_device.name }} {% endblock %}      <!-- Titre de la page -->

{% block content %}                                             <!-- Contenu principal de la page -->

<div>
    Welcome to discussion {{discussion.id}}

    <div id="messages-list">
        {% if messages|length > 0 %}
            {% for message in messages %}
                {% if message.user == request.user %}
                    <div class="my-message">
                        <p>moi</p>
                {% else %}
                    <div class="other-message">
                        <p>{{ message.user.username }}</p>
                {% endif %}
                    <p>{{ message.content }}</p>
                    </div>
            {% endfor %}
        {% endif %}
    </div>
    <br />
    Users
    <div id="users-list">
        {% if users|length > 0 %}
            {% for user in users %}
                <div id="single-user">
                    <p>{{ user.username }}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>

    <div id ="message-form">
        <form action="javascript:send_message('message')" method="post" id="message-form"> <!-- Envoi du message au serveur via le websocket -->
            {% csrf_token %}
            <input type="text" name="message" id="message" placeholder="Message">
            <input type="submit" value="Send">
        </form>
</div>



<script>

    function connect_to_socket(){
        // get current url without http://
        const { protocol, hostname, port } = new URL(window.location.href);
        var socket = new WebSocket(`ws://${hostname}:${port}/ws/chat/{{ discussion.id }}`);
        socket.onmessage = function(e){
            console.log(e,e.data)
            var data = JSON.parse(e.data);
            var message_list = document.getElementById('messages-list');
            var users_list = document.getElementById('users-list');
            if(data.type == 'message'){
                var message = document.createElement('div');
                if(data.user == '{{ user.id }}'){
                    message.className = 'my-message';
                    var user = 'moi';
                }else{
                    message.className = 'other-message';
                    var user = data.user;
                }
                message.innerHTML = '<p>' + user + '</p><p>' + data.content + '</p>';
                message_list.appendChild(message);
                print(message_list);
            }

            // scroll down to the last message
            message_list.scrollTop = message_list.scrollHeight;
        }
        return socket;
    }
    function send_message(type){
        var message_content = document.getElementById('message').value;
        var message = {
            'type': type,
            'content': message_content,
            'user': '{{ user.id }}',
            'discussion': '{{ discussion.id }}',	
        }
        message = JSON.stringify(message);
            socket.send(message);
    }

    let socket = connect_to_socket();
</script>
{% endblock %}

