<!-- Page principale du site web -->
{% extends "template.html" %}       <!-- hérédité de la template de base -->

{% load static %}                   <!-- Chargement des fichiers statiques -->

{% block css %}                     <!-- Ajout du css de la page -->
    <link rel="stylesheet" type='text/css' href="{% static 'ChatApp/css/panel.css' %}">
{% endblock %}

{% block title %} {{ current_device.name }} {% endblock %}      <!-- Titre de la page -->

{% block content %}                                             <!-- Contenu principal de la page -->

<div>
    Welcome to discussion {{discussion.id}}

    <div id="messages-list">
        {% if messages|length > 0 %}
            {% for message in messages %}
                <div id="single-message">
                    <p>{{ message.content }}</p>
                    <p>{{ message.date }}</p>
                </div>
            {% endfor %}
        {% endif %}
        
    </div>
    <div id="users-list">
        {% if users|length > 0 %}
            {% for user in users %}
                <div id="single-user">
                    <p>user {{ user.username }}</p>
                </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock %}

