<!-- Page principale du site web -->
{% extends "template.html" %}       <!-- hérédité de la template de base -->

{% load static %}                   <!-- Chargement des fichiers statiques -->

{% block css %}                     <!-- Ajout du css de la page -->
    <link rel="stylesheet" type='text/css' href="{% static 'ChatApp/css/panel.css' %}">
{% endblock %}

{% block title %} {{ current_device.name }} {% endblock %}      <!-- Titre de la page -->

{% block content %}                                             <!-- Contenu principal de la page -->

<div>
    Welcome to main page !


    <div id="discussions-list">
        {% for discussion in discussions %}
            <div>
                <div id="users-list">
                    {% for user in discussion.users %}
                            <div class="single-user">
                                {{user.username}}
                            </div>
                    {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

