<!-- Page principale du site web -->
{% extends "template.html" %}       <!-- hérédité de la template de base -->

{% load static %}                   <!-- Chargement des fichiers statiques -->

{% block css %}                     <!-- Ajout du css de la page -->
    <link rel="stylesheet" type='text/css' href="{% static 'ChatApp/css/panel.css' %}">
{% endblock %}

{% block title %} {{ current_device.name }} {% endblock %}      <!-- Titre de la page -->

{% block content %}                                             <!-- Contenu principal de la page -->

<div>
    Welcome to main page !


    <div id="discussions-list">
        {% if discussions|length > 0 %}
            {% for discussion in discussions %}
                <div id="single-discussion">
                    <a href="{% url 'discussion' discussion.id %}">Discussion {{dicussion.name}} </a>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <div>
        <a href="{% url 'create_discussion' %}">Créer une discussion</a>
    </div>
</div>
{% endblock %}

